.post-job-form {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 4%;
}

.mainpic_div {
  text-align: center;
}

.mainpic {
  height: 30vw;
  /*width: 80vw;*/
}

.card {
  max-height: 300px;
  padding-bottom: 20px;
  overflow: scroll;
}

#header {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #00142a;
  position: relative;
  z-index: 10;
  max-width: 100%;
}
#header.home-nav-bottom {
  background: rgba(255, 255, 255, 0.9);
  border-bottom-color: #ebedee;
}
#header.home-nav-bottom .search {
  border-left-color: #ebedee;
}
#header.home-nav-bottom a {
  color: #314659;
}
#header .header-link {
  color: #314659;
}
#header .ant-menu-item-active .header-link {
  color: #1890ff;
}
#logo {
  overflow: hidden;
  padding-left: 40px;
  float: left;
  height: 64px;
  line-height: 64px;
  text-decoration: none;
  white-space: nowrap;
}
#logo img {
  height: 32px;
  margin-right: 16px;
}
#logo img + img {
  height: 16px;
  position: relative;
  top: 1px;
}

#nav {
  border: 0;
  float: right;
  font-size: 14px;
  font-family: Lato, 'Monospace Number', 'Chinese Quote', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#nav.ant-menu-horizontal {
  border-bottom: none;
}
#nav.ant-menu-horizontal > .ant-menu-item {
  min-width: 72px;
  padding: 5px;
  background-color: transparent;
}

#nav > .ant-menu-item {
  text-align: center;
}

.content-wrapper {
  padding-top: 50px;
}
